body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    background-color: antiquewhite;
    background-image: url(tabla\ imagen\ fondo.jpg);
}
.contenedor{
    max-width: 600px;
    margin: auto;
}
.info{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: white;
    font-style: italic;
}
@media (max-width: 600px){
    .info{
        font-size: 15px;
        text-align: center;
    }
    .map{
        width: 300px;
        height: 200px;
    }
}
.img-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}
@media (max-width: 600px){
    .img3 img, .img4 img{
        width: 100px;
        height: auto;
    }
}